# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
src/playlists-tutoriales-firebase-adminsdk-x2zlw-24daf4f4dc.ts